.app {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  background-color: #494d5f;
}

.navbar-search {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
